        *{
            margin: 0;
            padding: 0;
            list-style: none;
         }
         body{
             padding: 50px 0;
         }
        .wrap{
            width: 1280px;
            margin: auto;

         }
         
         .item{
             display: flex;
             align-items: center ;
             margin: 50px;
             margin-bottom: 50px;
             /* border: 2px solid red; */
             line-height: 2;
             padding: 20px;   
             
         }
         .item img{
             border-radius: 20%;
         }
         .item h2{
             color: rgb(24, 209, 0);
         }
         
